html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, 
blockquote, pre, form, input, textarea, fieldset, table, th, td {
	margin: 0;
	padding: 0;
}
body, button, input, select, textarea {
	font: 12px/1.6 "Microsoft YaHei", Tahoma, Verdana, Arial, "\5b8b\4f53";
}
ul, ol {
	list-style: none;
}
img {
	border: 0;
	vertical-align: top;
}
table{
	border-collapse: collapse;
}
:focus {
	outline: 0;
}
.clearfix {
    clear: both;
    zoom: 1;
}
.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.vm {
	vertical-align: middle;
}
.fb {
	font-weight: bold;
}
.fn {
	font-weight: normal;
}
.f12 {
	font-size: 12px;
}
.f16{
	font-size: 16px;
}
.tl {
	text-align: left;
}
.tc {
	text-align: center;
}
.tr {
	text-align: right;
}
.tu {
	text-decoration: underline;
}
.mb0{
	margin-bottom: 0px;
}
.mr0{
	margin-right: 0px;
}
a {
	color: #27232f;
	text-decoration: none;
}

/* CSS Document */
html, body, div, span, object, iframe,h1, h2, 
h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, 
em, img, ins,kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, 
ol, ul, li,fieldset, form, label, legend,table, caption, tbody, 
tfoot,thead,tr, th, td,article, aside, canvas, details, figcaption, 
figure, footer, header, hgroup, menu, nav, section, summary,time, mark, 
audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    outline-style:none;/*FF*/ 
    /* user-select: none; */
}

i{
  font-style:  normal;
}
body {
    line-height:1;
}

a{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    outline-style:none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

input, select {
    vertical-align:middle;
}

/*css为clearfix，清除浮动*/
.clearfix::before,
.clearfix::after{
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clearfix:after{clear:both;} 
.clearfix{ 
    *zoom:1;/*IE/7/6*/
}

.cont{
    width: 1200px;
    margin: auto;
}

button{
    display: inline-block;
    cursor: pointer;
    background: #fff;
    border: none;
    color: #444;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
}
body{
    overflow-x: hidden;
}
body{
    background: rgb(76,0,4)
}


.pagination {
    position: absolute;
    z-index: 20;
    bottom: 40px;
    width: 100%;
    text-align: center;
  }
  .swiper-pagination-switch {
    display: inline-block;
    width: 40px;
    height: 6px;
    border-radius: 8px;
    background: #222;
    margin: 0 5px;
    opacity: 0.8;
    cursor: pointer;
  }
  .swiper-active-switch {
    opacity: 1;
    background: #FCD436;
  }

pre{
    white-space: pre-wrap;
    word-wrap: break-word;
}

.btn-shadow {
    box-shadow: 0px 2px 6px -2px #d00b39;
}

.el-message-box__message p{
    font-size: 18px;
}








